@import "../partials/mixins";
@import "../partials/animations";

.shero {
  @include flex($ai: center, $fd: column, $bx: border-box);
  background-image: linear-gradient(
    rgba(50, 50, 50, 0.5),
    rgba(50, 50, 50, 0.5)
  ),
  url("../../4.0 - Assets/Images/\
josh-sorenson-LVmyjS0hxYU-unsplash.jpg");
  background-size: cover;
  

  @include mobile {
    height: 472px;
    padding: 4rem 1rem 0 1rem;
  }

  @include tablet {
    @include flex($fd: row, $fw: wrap, $bx: border-box);
    height: 670px;
    padding: 6rem 1.5rem 4rem 1.5rem;
  }

  // @include desktop {
  //   height: calc(.56*(100vw));
  // }

  &__album {
    @include font-styling(300, white);
    width: 100%;

    @include mobile {
      @include format-text(1.375rem, 0 0 1.5rem 0, 0.875rem);
    }

    @include tablet {
      @include font-styling(500, white);
      @include format-text($lh: 2rem, $fs: 1.5rem);
    }
  }

  &__title {
    @include font-styling(500, white);

    @include mobile {
      @include format-text($lh: 2.75rem, $fs: 2.25rem);
      width: 100%;
    }

    @include tablet {
      @include format-text($lh: 4.25rem, $fs: 3.75rem);
      width: 80%;
    }

    // @include desktop {
    //   @include format-text(4.25rem, 0 9.375rem, 3.75rem);
    // }
  }

  &__soundcloud {

    @include mobile {
      width: 100%;
      height: 115px;
      margin-top: 1.5rem;
    }

    @include tablet {
      width: 60%;
      height: 145px;
    }
  }
}

.shows {
  padding: 0 1rem;

  @include tablet {
    padding: 0 1.5rem;
  }

  &__title {
    @include font-styling(500);
    @include format-text(2rem, 1.5rem 0 2.5rem 0, 1.5rem);

    @include tablet {
      @include format-text(2.75rem, 3.5rem 0 3rem 0, 2.25rem)
    }
  }

  &__list {
    @include flex($fw: wrap);
    margin-bottom: 1rem;
  }
}

.show-card {
  box-sizing: border-box;
  border-bottom: 1px solid $mercury;
  margin-bottom: 2rem;
  width: 100%;

  @include tablet {
    @include flex($ai: center, $jc: space-between);
    height: 5rem;
  }

  &__label {
    @include font-styling(300, $silver);
    @include format-text($lh: 1.125rem, $fs: 0.8125rem);
    text-transform: uppercase;
    width: 14rem;
    margin: 0 0 1rem 0;

    &--date {
      @include tablet {
        width: 224px;
      }
    }

    &--venue, &--location {
      @include tablet {
        width: 148px;
      }
    }
  }

  &__date {
    @include font-styling(300);
    @include format-text(1.375rem, 1rem 0 1.5rem 0, 0.875rem);

    @include tablet {
      @include format-text(1.5rem);
      width: 224px;
    }
  }

  &__text {
    @include font-styling(100);
    @include format-text(1.25rem, 1rem 0 1.5rem 0, 0.875rem);
    
    @include tablet {
      @include format-text($lh: 1.5rem);
      width: 148px;
    }
  }
}

.labels {
  @include tablet {
    @include flex($ai: center, $jc: space-between);
    height: 5rem;
    width: 100%;
    margin: 0;

    & :last-child {
      margin-right: 200px;
      flex-grow: 1;
    }
  }
}