@mixin scale-img ($scale-factor) {
  transition: transform .5s ease-out;

  &:hover {
    transform: scale($scale-factor);
  }
}

@mixin color-image {
  transition: filter .25s ease-out;

  &:hover {
    filter: grayscale(0%);
  }
}