@font-face {
  font-family: "AvenirNext";
  src: local("Avenir Next Regular");
  src: url("../4.0 - Assets/_Global Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "AvenirNext";
  src: local("Avenir Next Demi Bold");
  src: url("../4.0 - Assets/_Global Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "AvenirNext";
  src: local("Avenir Next Bold");
  src: url("../4.0 - Assets/_Global Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100vw;
}

li {
  list-style-type: none;
}

main {
  margin-top: 80px;
}

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #323232;
  width: 100vw;
  height: 80px;
}

@media screen and (max-width: 320px) {
  .title-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .title-bar {
    padding: 0 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .title-bar {
    padding: 0 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.title-bar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 1200px) {
  .title-bar__logo {
    margin: 0 56px 0 0;
  }
}

.title-bar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .title-bar__nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 1200px) {
  .title-bar__nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.title-bar__nav-link {
  font-family: "AvenirNext";
  font-weight: 300;
  color: #afafaf;
  font-size: 0.875rem;
  height: 1.375rem;
  width: 50%;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .title-bar__nav-link {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 72px;
  }
}

@media screen and (max-width: 1200px) {
  .title-bar__nav-link {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
    height: 100%;
    margin: 0 56px 0 12px;
  }
}

.title-bar__nav-link--selected {
  color: white;
  border-bottom: 3px solid white;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-image: url("../4.0 - Assets/Images/josh-sorenson-LVmyjS0hxYU-unsplash.jpg");
  background-size: cover;
}

@media screen and (max-width: 320px) {
  .hero {
    height: 183px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    height: 670px;
  }
}

.hero__title {
  color: white;
  margin: 0;
  font-family: "AvenirNext";
  font-weight: 500;
  width: 75%;
}

@media screen and (max-width: 320px) {
  .hero__title {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 68px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 1200px) {
  .hero__title {
    font-size: 60px;
    line-height: 68px;
    padding: 0 150px;
    width: 50%;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 320px) {
  .about {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .about {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .about {
    padding: 0 9.375rem;
  }
}

.about__title {
  font-family: "AvenirNext";
  font-weight: 500;
  color: #323232;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .about__title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 32px 0 24px 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .about__title {
    font-size: 36px;
    line-height: 44px;
    margin: 48px 0 32px 0;
  }
}

@media screen and (max-width: 1200px) {
  .about__title {
    font-size: 36px;
    line-height: 44px;
    margin: 48px 0;
  }
}

.about__img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 450px;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

@media screen and (max-width: 1200px) {
  .about__img {
    margin: 0 56px;
  }
}

.about__quote, .about__subheading {
  font-family: "AvenirNext";
  font-weight: 300;
  color: #323232;
}

@media screen and (max-width: 320px) {
  .about__quote, .about__subheading {
    font-size: 16px;
    line-height: 22px;
    margin: 24px 0 0 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .about__quote, .about__subheading {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 36px 0 0 0;
  }
}

@media screen and (max-width: 1200px) {
  .about__quote, .about__subheading {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 48px 56px 0 56px;
  }
}

.about__author {
  font-family: "AvenirNext";
  font-weight: 300;
  color: #323232;
}

@media screen and (max-width: 320px) {
  .about__author {
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .about__author {
    font-size: 14px;
    margin: 36px 0 0 0;
  }
}

@media screen and (max-width: 1200px) {
  .about__author {
    font-size: 16px;
    line-height: 24px;
    margin: 40px 56px 0 56px;
  }
}

.about__descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 320px) {
  .about__descriptions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 40px 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .about__descriptions {
    margin: 24px 0 36px 0;
  }
  .about__descriptions :first-child {
    margin-right: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .about__descriptions {
    margin: 32px 56px 48px 56px;
  }
  .about__descriptions :first-child {
    margin-right: 40px;
  }
}

.about__description {
  font-family: "AvenirNext";
  font-weight: 100;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .about__description {
    font-size: 12px;
    line-height: 18px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .about__description {
    width: 345px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .about__description {
    width: 420px;
    font-size: 14px;
    line-height: 20px;
  }
}

.gallery {
  background-color: #fafafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .gallery {
    padding: 0 1rem 40px 1rem;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .gallery {
    padding: 0 1.5rem 40px 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .gallery {
    padding: 0 9.375rem 40px 9.375rem;
  }
}

.gallery__title {
  font-family: "AvenirNext";
  font-weight: 500;
  color: #323232;
}

@media screen and (max-width: 320px) {
  .gallery__title {
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .gallery__title {
    font-size: 36px;
    line-height: 44px;
    margin: 48px 0 32px 0;
  }
}

@media screen and (max-width: 1200px) {
  .gallery__title {
    font-size: 36px;
    line-height: 44px;
    margin: 48px 0 42px 0;
  }
}

.gallery__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 320px) {
  .gallery__imgs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .gallery__imgs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1200px) {
  .gallery__imgs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 320px) {
  .gallery__img {
    width: 18rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .gallery__img {
    width: 224px;
    height: 126px;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .gallery__img {
    width: calc((100% - 48px) /3);
    margin-top: 24px;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #323232;
}

@media screen and (max-width: 320px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 12px 40px 12px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .info {
    padding: 0 24px;
  }
}

@media screen and (max-width: 1200px) {
  .info {
    padding: 0 150px;
  }
}

.info__first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .info__first-row {
    margin: 32px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .info__first-row {
    margin: 48px 0;
  }
}

@media screen and (max-width: 1200px) {
  .info__first-row {
    margin: 48px 0;
  }
}

.info__title {
  font-family: "AvenirNext";
  font-weight: 500;
  color: white;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .info__title {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 24px;
    width: 100%;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .info__title {
    font-size: 36px;
    line-height: 44px;
    width: 224px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .info__title {
    font-size: 36px;
    line-height: 44px;
    width: 224px;
    margin-right: 56px;
  }
}

.info__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 320px) {
  .info__icons {
    margin-left: 4px;
    width: calc(50% - 32px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .info__icons {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 1200px) {
  .info__icons {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.info__icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .info__icon {
    padding-left: 24px;
    padding-right: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .info__icon {
    padding-right: 32px;
  }
}

@media screen and (max-width: 320px) {
  .info__logo {
    display: none;
  }
}

.contact-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 320px) {
  .contact-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .contact-cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .contact-cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .contact-cards :last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 320px) {
  .contact-card {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .contact-card {
    width: 224px;
  }
}

@media screen and (max-width: 1200px) {
  .contact-card {
    width: 224px;
    margin-right: 56px;
  }
}

.contact-card__name, .contact-card__org {
  color: white;
  font-family: "AvenirNext";
  font-weight: 300;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .contact-card__name, .contact-card__org {
    font-size: 13px;
    line-height: 22px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .contact-card__name, .contact-card__org {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .contact-card__name, .contact-card__org {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.contact-card__org {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  .contact-card__org {
    margin-bottom: 24px;
  }
}

.contact-card__addr, .contact-card__pos {
  color: white;
  font-family: "AvenirNext";
  font-weight: 100;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .contact-card__addr, .contact-card__pos {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .contact-card__addr, .contact-card__pos {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .contact-card__addr, .contact-card__pos {
    font-size: 14x;
    line-height: 20px;
  }
}

.contact-card__email {
  color: white;
  font-family: "AvenirNext";
  font-weight: 100;
}

@media screen and (max-width: 320px) {
  .contact-card__email {
    font-size: 12px;
    margin: 1rem 0 0 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .contact-card__email {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .contact-card__email {
    font-size: 16px;
    line-height: 24px;
    margin: 1.5rem 0 0 0;
  }
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 320px) {
  .copyright {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .copyright {
    margin: 36px 0;
  }
}

@media screen and (max-width: 1200px) {
  .copyright {
    margin: 40px 0;
  }
}

.copyright__text {
  color: white;
  font-family: "AvenirNext";
  font-weight: 100;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .copyright__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .copyright__text {
    font-size: 14px;
    line-height: 20px;
  }
}
/*# sourceMappingURL=main.css.map */